/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~firebaseui/dist/firebaseui.css";
@import "~ionicons/dist/css/ionicons.css";
@import "assets/dist/css/AdminLTE.min.css";
@import "skin-blue.css";
/*@font-face{
  font-family: Sofia;
}*/
.navbar-brand-lg,
.navbar-brand-sm,
.login-logo {
  font-family: Sofia !important;
}
body {
  background: #282828;
  background: -moz-radial-gradient(center, ellipse cover, #282828 0%, #878787 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #282828 0%, #878787 100%);
  background: radial-gradient(ellipse at center, #282828 0%, #878787 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#282828', endColorstr='#878787', GradientType=1);
}
