<!-- Box Comment -->
<div class="box box-widget">
    <div class="box-header with-border">
        <div class="user-block">
            <img class="img-circle img-fluid" src="assets/dist/img/user1-128x128.jpg" alt="User Image">
            <span class="username">
              <a href="#">{{(User | async).NickName}}</a>
            </span>
            <span class="description">{{(Article | async).CreatedOnUtc}}</span>
        </div>
        <!-- /.user-block -->
        <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                  <i class="fa fa-circle-o"></i>
                </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
                  <i class="fa fa-times"></i>
                </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        {{(Article | async).Text}}
    </div>
    <!-- /.box-body -->
    <div class="box-footer box-comments">
        <ng-template *ngFor="let comment of Comments | async">
            <div class="box-comment">
                <img class="img-circle img-sm" src="assets/dist/img/user4-128x128.jpg" alt="User Image">
                <div class="comment-text">
                    <span class="username">
                        {{comment.getUser().NickName | async}}
                        <span class="text-muted pull-right">{{comment.CreatedOnUtc | async}}</span>
                    </span>
                    {{comment.Text | async}}
                </div>
            </div>
        </ng-template>
    </div>
    <!-- /.box-footer -->
    <div class="box-footer">
        <form action="#" method="post">
            <img class="img-responsive img-circle img-sm" src="assets/dist/img/user4-128x128.jpg" alt="Alt Text">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
                <input type="text" class="form-control input-sm" #comtext (onkeyup)="addComment($event, comtext.value)" placeholder="Press enter to post comment">
            </div>
        </form>
    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->