<div class="col-12">
    <!-- Box Comment -->
    <div class="box box-widget">

        <!-- /.box-header -->
        <div class="box-body">
            <!--  <img class="img-responsive pad" src="assets/dist/img/lichking.jpg" alt="Photo"> -->

            <form action="#" method="post">
                <img class="img-responsive img-circle img-sm" src="assets/dist/img/user4-128x128.jpg" alt="Alt Text">
                <!-- .img-push is used to add margin to elements next to floating images -->
                <div class="img-push">
                    <textarea type="text" #article class="form-control input-sm" placeholder=" Enter to post comment">
                        </textarea>
                    <button type="button" class="btn btn-sm btn-primary" (click)="postArticle(article.value)">Post</button>
                </div>
            </form>

        </div>
        <!-- /.box-body -->

        <!-- /.box-footer -->
    </div>
    <!-- /.box -->
</div>¨